<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mll.youtube-refresh</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd "/Users/pc20/Library/CloudStorage/GoogleDrive-mm.yu.okochi@gmail.com/マイドライブ/CursorLogs/010_MarchinZ" &amp;&amp; ./run_youtube_api_refresh.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/pc20/Library/Logs/mll-youtube-refresh.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/pc20/Library/Logs/mll-youtube-refresh.err.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
